.red:focus,
.red {
  outline: none;
  border: 2px solid red;
  border-radius: 5px;
}
.orange:focus,
.orange {
  outline: none;
  border: 2px solid orange;
  border-radius: 5px;
}
.lightgreen:focus,
.lightgreen {
  outline: none;
  border: 2px solid lightgreen;
  border-radius: 5px;
}
.green:focus,
.green {
  outline: none;
  border: 2px solid rgb(50, 205, 84);
  border-radius: 5px;
}
input {
  height: 35px;
  width: 270px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 19px;
}
.container {
  background-color: lemonchiffon;
  height: 500px;
  width: 400px;
  border-radius: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
label {
  color: black;
  text-align: left;
  font-size: 25px;
  font-family: "Kaushan Script", cursive;
}
form {
  margin: 30px 30px 30px 60px;
}
#message {
  color: red;
  font-size: 15px;
  font-family: "Trispace", sans-serif;
}
